.container{
position: absolute;left:-190px ;
margin-left: 230px;
}

.info{
list-style-type: none;
display: flex;
position: absolute;top:10px;
margin-left:300px;
font-size: 12px;
}

.head{
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #333;
  font-weight: bolder;
}

.headerpicture{
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  cursor: pointer;
}
:root {
  --hamburger-menu-size: 50px; /* メニューの大きさ */
  --hamburger-menu-padding: 12px;
  --hamburger-menu-border-px: 2px; /* 線の太さ */
  --hamburger-menu-border-color: #342534; /* 線の色 */
}
.hamburger-menu{
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
margin-left: auto;
}

.hamburger-menu-line{
  position: absolute;
  transition: var(--hamburger-menu-transition);
  width: calc(100% - var(--hamburger-menu-padding) * 2);
  height: var(--hamburger-menu-border-px);
  background-color: var(--hamburger-menu-border-color);
}

.line-top{
  top: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.line-middle{
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  left: var(--hamburger-menu-padding);
}

.line-bottom{
  bottom: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.pic{
  margin-left: 10px;
}

.bread-list{
  list-style-type: none;
  font-size: 12px;
  color: #999;
  font-weight: lighter;
  padding-top:15px;
  display: flex;
  margin-left: 40px;
}

.topbread::before{
content: ">";
color:#999;
}

.topbread::after{
  content:"";
}

.topbread{
  margin-left: 30px;
}

#picture2{
  object-fit: cover;
}

.text-message{
  padding-top: 10px;
  object-fit: scale-down;
}

.text-message h1{
position: absolute;
font-size: 20px;
margin-left: 250px;
margin-top: -280px;
color: #fff;
font-weight: lighter;
}

.text-message P{
  position: absolute;
  font-size: 25px;
  margin-left: 250px;
  margin-top: -230px;
  color: #fff;
  font-weight: bolder;
}

.SNSbutton::before{
  content:"share";
  color:#999;
  font-weight: bold;
  font-size:13px;
  margin-top:5px;
}

.SNSbutton::after{
  content:"";
  margin-top:-10px;
  margin-left: 260px;
}

 .SNSbutton{
  border-style: none;
  vertical-align: middle;
  display: flex;
  float: right;
  list-style-type: none;
  cursor: pointer;
 }

.topics{
 font-family: sans-serif !important;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 90px;
  padding-right: 50px;
  text-align: left;
}
.NRImessage p{
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
.picture{
  text-align: left;
}
.btn{
  display: block;
  width: 330px;
  height: 60px;
  background: #005bac;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 4px;
  cursor: pointer;
  overflow-x: hidden;
  text-decoration: none;
  outline: none;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.8;
}
.NRIstrengths{
  width: 85%;
  display: inline-block;
}
.NRIbusiness{
text-decoration: none;
float: left;
}
.NRIbusiness:hover{
  text-decoration: underline;
}
.NRIhumanresource{
  text-decoration: none;
  float: right;
}
.NRIhumanresource:hover{
  text-decoration: underline;
}
h3{
text-align: left;
font-size: 15px;
margin-left: 180px;
}
.box-header{
  display:flex;
  flex-wrap: wrap;
  padding:0px;
  width: 550px;
  height:0px;
  background-color:#D7EEFF;	
}
.box-wrapper{
 display:flex;
  flex-wrap: wrap;
  padding:50px;
  width: 550px;
  height: 180px;
  margin-left: 160px;
  background-color:#D7EEFF;	
}

.SNSbuttontwo{
  border-style: none;
  vertical-align: middle;
  display: flex;
  list-style-type: none;
  cursor: pointer;
  margin-left: 600px;
}
.SNSbuttontwo::before{
  content:"share";
  color:#999;
  font-weight: bold;
  font-size:13px;
  margin-top:5px;
}

.SNSbuttontwo::after{
  content:"";
  margin-top:-10px;
  margin-left: 260px;
}

.NRIstrengthspoint {
  background-color: #fff;
  border: 1px solid #999;
  width: 123px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  margin: 20px 30px;
  padding: 15px;
  font-size:8px;
  color: #0c269a;
  cursor: pointer;
  text-decoration: none;
  line-height: -10px;
  
}

.NRIstrengthspoint:hover{
  background-color:#EEEEEE;	
}

hr{
  margin: 150px;
}

.maincontainertwo{
  text-align: center;
  width: 1000px;
  left: 50%;
  margin: auto;
}
.business{
padding-left: 160px;
margin-top: 40px;
font-weight: bolder;
font-size: 20px;
text-align: left;
padding:20px;
}

.business{
  border-top: 2px solid #333;
  border-bottom: 1px dotted #C0C0C0;
}

.policy{
padding-left: 160px;
margin-top: 10px;
font-weight: bolder;
font-size: 16px;
text-align: left;
padding:25px;
}

.box-wrappertwo{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}


.company{
padding-left: 160px;
margin-top: 10px;
font-weight: bolder;
font-size: 16px;
text-align: left;
border-top:1px dotted #C0C0C0;
padding:25px;
}
.box-wrapperthree{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.point{
padding-left: 160px;
margin-top: 10px;
font-weight: bolder;
font-size: 16px;
text-align: left;
padding:25px;
border-top:1px dotted #C0C0C0;
}
.box-wrapperfour{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.companygrowth{
width: 25%;
margin: 15px 0px;
text-decoration: none;
cursor: pointer;
font-size: 14px;
color: #0c269a;
}
.companygrowth:hover{
  text-decoration: underline;
}
.place{
  padding-left: 160px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 16px; 
  text-align: left;
  padding:25px;
  border-top:1px dotted #C0C0C0;
}
.box-wrapperfive{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.introduce{
  padding-left:20px;
  margin-top:20px;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 16px; 
  text-align: left;
  margin-left:10px;
  border-top:1px dotted #C0C0C0;
}
.box-wrappersix{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.back{
  padding-left: 160px;
  margin-top: 60px;
  font-size: 16px; 
  text-align: left;
  padding:50px 50px;
  color: #0c269a;
  border-top:1px dotted #C0C0C0;

}
.back:hover{
  text-decoration: underline;
}
.SNSsharebutton{
  display:flex;
  margin-left: 300px;
  justify-content: space-evenly;
   vertical-align: middle;
   list-style-type: none;
   cursor: pointer;
   margin-top: 40px; 
}

.SNSsharebutton::before{
  content:"Follow Us";
  color:#333;
  font-weight: bolder;
  font-size:20px;
}

.SNSsharebutton::after{
  content:"";
  margin-top:-10px;
  margin-left: 260px; 
}
 
.maincontainer{
  width: 1000px;
  text-align: center;
  left:50%;
  margin: auto;
}

.horizen{
  border-bottom: solid 2px #C0C0C0;
}
.one{
  padding-left:20px;
  margin-top:20px;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 16px; 
  color: #333;
}
.box{
  display: flex;
  color: #333;
}














