.container{
position: absolute;left:-190px ;
margin-left: 230px;
}

.info{
list-style-type: none;
display: flex;
position: absolute;top:10px;
margin-left:300px;
font-size: 12px;
}

.head{
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #333;
  font-weight: bolder;
}
  
.headerpicture{
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  cursor: pointer;
}
:root {
  --hamburger-menu-size: 50px; /* メニューの大きさ */ 
  --hamburger-menu-padding: 12px;  
  --hamburger-menu-border-px: 2px; /* 線の太さ */
  --hamburger-menu-border-color: #342534; /* 線の色 */
}
.hamburger-menu{
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
margin-left: auto;
}

.hamburger-menu-line{
  position: absolute;
  transition: var(--hamburger-menu-transition);
  width: calc(100% - var(--hamburger-menu-padding) * 2);
  height: var(--hamburger-menu-border-px);
  background-color: var(--hamburger-menu-border-color);
}

.line-top{
  top: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.line-middle{
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  left: var(--hamburger-menu-padding);
}

.line-bottom{
  bottom: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.pic{
  margin-right: 15px;
}

.bread-list{
  list-style-type: none;
  font-size: 12px;
  color: #999;
  font-weight: lighter;
  padding-top:15px;
  display: flex;
  margin-left: 40px;
}

.topbread::before{
content: ">";
color:#999;
}

.topbread::after{
  content:"";
}

.topbread{
  margin-left: 30px;
}

.text-message{
  padding-top: 10px;
  object-fit: scale-down;
}

.text-message h1{
position: absolute;
font-size: 20px;
margin-left: 250px;
margin-top: -280px;
color: #fff;
font-weight: lighter;
}

.text-message P{
  position: absolute;
  font-size: 25px;
  margin-left: 250px;
  margin-top: -230px;
  color: #fff;
  font-weight: bolder; 
}

.SNSbutton::before{
  content:"share";
  color:#999;
  font-weight: bold;
  font-size:13px;
  margin-top:5px;
}

.SNSbutton::after{
  content:"";
  margin-top:-10px;
  margin-left: 260px;
}

 .SNSbutton{
  border-style: none;
  vertical-align: middle;
  display: flex;
  float: right;
  list-style-type: none;
  cursor: pointer;
 } 

.topics{
 font-family: sans-serif !important;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 90px;
  margin-left: 270px;
  padding-right: 50px;
}

.NRImessage p{
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  margin-left: 270px;
}


.picture{
  text-align: center;
}

.btn{
  display: block;
  width: 300px;
  height: 60px;
  background: #005bac;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 4px;
  cursor: pointer;
  overflow-x: hidden;
  text-decoration: none;
  outline: none;
  margin-top: 30px;
}

.btn:hover{
  opacity: 0.8;
}








.topic4{
text-align:left;
font-size:16px;
text-decoration: none;
margin-left: 260px;
margin-top: 260px;
cursor: pointer;
}



.topic5{
 text-align: right;
font-size:16px;
 text-decoration: none;
 position: relative;
 margin-left: 960px;
 margin-top: -45px;
 cursor: pointer;
}
.topics5:hover{
  text-decoration: underline;
}

.strong1{
  display: inline-block;
  text-align: left;
  background-color:#F0f8FF;
  border: solid 1px transparent;
  height:280px;
  width:850px;
  margin-top: 50px;
  margin-left: 260px;
}

.strong2{
  position: relative;
  margin-left: 20px;
}

.btn-displayblock1{
 width: 245px;
 height: 50px;
 float: left;
 margin-left: 22px;
 border:solid 1px #999;
 background-color:#fff;
 text-align: center;
 padding-top: 30px;
 text-decoration: none;
 outline: 0;
}
 


.btn-displayblock2{
  width: 250px;
  height:50px;
  float: left;
  margin-left: 20px;
  margin-top: -1px;
  border:solid 1px #999;
  background-color:#fff;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  outline: 0;
 }

 .btn-displayblock3{
  width: 250px;
  height:50px;
  float: left;
  margin-left: 20px;
  margin-top: -1px;
  border:solid 1px #999;
  background-color:#fff;
  text-align: center;
  padding-top: 30px;
  position: relative;
  text-decoration: none;
  outline: 0;
 }

 

 .btn-displayblock4{
  width: 245px;
  height:50px;
  float: left;
  margin-top: 100px;
  margin-left: -790px;
  margin-bottom: -40px;
  margin-right: -20px;
  border:solid 1px #999;
  background-color:#fff;
  text-align: center;
  position: absolute;
  padding-top: 30px;
  text-decoration: none;
  outline: 0;
 }
 
 .btn-displayblock5{
  width: 250px;
  height:50px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border:solid 1px #999;
  background-color:#fff;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  outline: 0;
 }

 .btn-displayblock6{
  width: 250px;
  height:50px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border:solid 1px #999;
  background-color:#fff;
  text-align: center;
  position: relative;
  padding-top: 30px;
  text-decoration: none;
  outline: 0;
 }



.btn-displayblock1:hover{
  background-color: #eeeeee;
}
.btn-displayblock2:hover{
  background-color: #eeeeee;
}
.btn-displayblock3:hover{
  background-color: #eeeeee;
}
.btn-displayblock4:hover{
  background-color: #eeeeee;
}
.btn-displayblock5:hover{
  background-color: #eeeeee;
}
.btn-displayblock6:hover{
  background-color: #eeeeee;
}
.SNS2::before{
  content:"share";
  color:#999;
  font-weight: bold;
  font-size:13px;
  margin-top:5px;
}

.SNS2::after{
  content:"";
  display:block;
  margin-bottom:20px;
  margin-right:200 px;
  justify-content: space-around;
}

 .SNS2{
  border-style: none;
  vertical-align: middle;
  display: flex;
  float: right;
  margin-top: 100px;
  margin-bottom: 30px;
  list-style-type: none;
  justify-content: space-around;
  cursor: pointer;
 } 

 .line1{
  display: inline-block;
   border-top: solid 2px #333;
   width:73%;
   margin-top: 200px;
   padding-left: 50px;
   position: relative;
   margin-left:170px;
 }

 .text5{
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-left: 170px;
  margin-top: -20px;
 }
.line2{
  border-bottom: dotted 1px #333;
  width:73%;
  margin-top: 5px;
   padding-left: 50px;
   position: relative;
   margin-left:170px;
}
.text6{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-left: 170px;
  margin-top: 20px;
}

.sentence1{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
}
.sentence1:hover{
  text-decoration: underline;
}
.sentence2{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
}
.sentence2:hover{
  text-decoration: underline;
}
.sentence3{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
}
.sentence3:hover{
  text-decoration: underline;
}
.sentence4{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
}
.sentence4:hover{
  text-decoration: underline;
}
.sentence5{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-right: 700px;
  margin-left: 170px;
  margin-top: 20px;
  text-decoration: none;
}
.sentence5:hover {
  text-decoration: underline;
}
  
.sentence6{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 445px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence6:hover{
  text-decoration: underline;
}
.sentence7{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 680px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence7:hover{
  text-decoration: underline;
}
.sentence8{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 940px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence8:hover{
  text-decoration: underline;
}
.sentence9{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-right: 700px;
  margin-left: 170px;
  margin-top: 20px;
  text-decoration: none;
  outline: none;
}
.sentence9:hover{
  text-decoration: underline;
}
.sentence10{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 445px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence10:hover{
  text-decoration: underline;
}
.sentence11{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 680px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence11:hover{
  text-decoration: underline;
}
.line3{
  border-bottom: dotted 1px #333;
  width: 77%;
  position: relative;
  margin-left:170px;
  margin-top: 150px;
}
.text7{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-left: 170px;
  margin-top: 20px;
}
.sentence12{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence12:hover{
  text-decoration: underline;
}
.sentence13{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 210px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence13:hover{
  text-decoration: underline;
}
.sentence14{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 200px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence14:hover{
  text-decoration: underline;
}
.sentence15{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 205px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence15:hover{
  text-decoration: underline;
}
.sentence16{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-right: 700px;
  margin-left: 170px;
  margin-top: 20px;
  text-decoration: none;
  outline: none;
}
.sentence16:hover{
  text-decoration: underline;
}
.line4{
  border-bottom: dotted 1px #333;
  width: 77%;
  position: relative;
  margin-left:170px;
  margin-top: 95px;
}
.text8{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-left: 170px;
  margin-top: 20px;
}
.sentence17{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence17:hover{
  text-decoration: underline;
}
.sentence18{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 95px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence18:hover{
  text-decoration: underline;
}
.sentence19{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 65px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence19:hover{
  text-decoration: underline;
}
.sentence20{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left:160px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence20:hover{
  text-decoration: underline;
}
.sentence21{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-right: 700px;
  margin-left: 170px;
  margin-top: 20px;
  text-decoration: none;
  outline: none;
}
.sentence21:hover{
  text-decoration: underline;
}
.sentence22{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 445px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence22:hover{
  text-decoration: underline;
}
.sentence23{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 678px;
  margin-top: -20px;
  text-decoration: none;
  outline: none;
}
.sentence23:hover{
  text-decoration: underline;
}
.text9{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-left: 170px;
  margin-top: 20px;
}
.line5{
  border-bottom: dotted 1px #333;
  width: 77%;
  position: relative;
  margin-left:170px;
  margin-top:100px;
}
.sentence24{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence24:hover{
  text-decoration: underline;
}
.sentence25{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence25:hover{
  text-decoration: underline;
}
.sentence26{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left:110px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence26:hover{
  text-decoration: underline;
}
.line6{
  border-bottom: dotted 1px #333;
  width: 77%;
  position: relative;
  margin-left:170px;
  margin-top:60px;
}
.text10{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-left: 170px;
  margin-top: 20px;
}
.sentence27{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence27:hover{
  text-decoration: underline;
}
.sentence28{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 155px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence28:hover{
  text-decoration: underline;
}
.sentence29{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left:95px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence29:hover{
  text-decoration: underline;
}
.sentence30{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left:125px;
  text-decoration: none;
  outline: none;
  margin-top: -10px;
}
.sentence30:hover{
  text-decoration: underline;
}
.line7{
  border-bottom: dotted 1px #333;
  width: 77%;
  position: relative;
  margin-left:170px;
  margin-top:60px;
}
.sentence31{
  float: left;
  position: relative;
  color:#0c269a;
  font-weight: 100;
  font-size: 13px;
  cursor: pointer;
  padding-left: 170px;
  text-decoration: none;
  outline: none;
  margin-top: 30px;
}
.sentence27:hover{
  text-decoration: underline;
}
.line8{
  border-bottom: solid 2px #999;
  width: 110%;
  margin-top:150px;
}
.SNS3{
  border-style: none;
  vertical-align: middle;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style-type: none;
  cursor: pointer;
  margin: 0 auto;
  width: 30%;
 } 
 .SNS3::before{
  content:"FollowUs";
  color: #333;
  font-weight: 900;
  font-size:16px;
  margin-top:-40px;
  margin-bottom:-80px;
  padding-top: 25px;
  margin: 0 auto;
  width: 30%;
}

.SNS3::after{
  content:"";
  display:block;
  margin-bottom:20px;
  margin-top:-30px;
  margin-right:160px;
}
.line9{
  border-bottom: solid 2px #999;
  width: 110%;
  margin-top:30px;
}
.sentence32{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 50px;
  text-decoration: none;
  outline: none;
}
.sentence32:hover{
  text-decoration: underline;
}
.sentence33{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size: 15px;
  margin-top:30px;
  margin-left: 200px;
  text-decoration: none;
  outline: none;
}
.sentence33:hover{
  text-decoration: underline;
}
.sentence34{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size: 15px;
  margin-top:30px;
  margin-left: 200px;
  text-decoration: none;
  outline: none;
}
.sentence34:hover{
  text-decoration: underline;
}
.sentence35{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size: 15px;
  margin-top:30px;
  margin-left: 200px;
  text-decoration: none;
  outline: none;
}
.sentence35:hover{
  text-decoration: underline;
}
.sentence36{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 80px;
  margin-left: -1185px;
  text-decoration: none;
  outline: none;
}
.sentence36:hover{
  text-decoration: underline;
}
.sentence37{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 80px;
  margin-left: -820px;
  text-decoration: none;
  outline: none;
}
.sentence37:hover{
  text-decoration: underline;
}
.sentence38{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 80px;
  margin-left: -423px;
  text-decoration: none;
  outline: none;
}
.sentence38:hover{
  text-decoration: underline;
}
.sentence39{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 80px;
  margin-left: -75px;
  text-decoration: none;
  outline: none;
}
.sentence39:hover{
  text-decoration: underline;
}
.sentence40{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 120px;
  margin-left: -1232px;
  text-decoration: none;
  outline: none;
}
.sentence40:hover{
  text-decoration: underline;
}
.sentence41{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 120px;
  margin-left: -866px;
  text-decoration: none;
  outline: none;
}
.sentence41:hover{
  text-decoration: underline;
}
.sentence42{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 120px;
  margin-left: -470px;
  text-decoration: none;
  outline: none;
}
.sentence42:hover{
  text-decoration: underline;
}
.sentence43{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 120px;
  margin-left: -123px;
  text-decoration: none;
  outline: none;
}
.sentence43:hover{
  text-decoration: underline;
}
.sentence44{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 160px;
  margin-left: -1230px;
  text-decoration: none;
  outline: none;
}
.sentence44:hover{
  text-decoration: underline;
}
.sentence45{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 160px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence45:hover{
  text-decoration: underline;
}
.sentence46{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 160px;
  margin-left: -470px;
  text-decoration: none;
  outline: none;
}
.sentence46:hover{
  text-decoration: underline;
}
.sentence47{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 160px;
  margin-left: -123px;
  text-decoration: none;
  outline: none;
}
.sentence47:hover{
  text-decoration: underline;
}
.sentence48{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 200px;
  margin-left: -1230px;
  text-decoration: none;
  outline: none;
}
.sentence48:hover{
  text-decoration: underline;
}
.sentence49{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 200px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence49:hover{
  text-decoration: underline;
}
.sentence50{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 240px;
  margin-left: -1230px;
  text-decoration: none;
  outline: none;
}
.sentence50:hover{
  text-decoration: underline;
}
.sentence51{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 240px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence51:hover{
  text-decoration: underline;
}
.sentence52{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 280px;
  margin-left: -1230px;
  text-decoration: none;
  outline: none;
}
.sentence52:hover{
  text-decoration: underline;
}
.sentence53{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 280px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence53:hover{
  text-decoration: underline;
}
.sentence54{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 320px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence54:hover{
  text-decoration: underline;
}
.sentence55{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 360px;
  margin-left: -865px;
  text-decoration: none;
  outline: none;
}
.sentence55:hover{
  text-decoration: underline;
}
.sentence56{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 500px;
  margin-left: -1220px;
  text-decoration: none;
  outline: none;
}
.sentence56:before {
  content: '>';
  margin-left: 1rem;
}
.sentence56:hover{
  text-decoration: underline;
}
.sentence57{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 500px;
  margin-left: -860px;
  text-decoration: none;
  outline: none;
}
.sentence57:hover{
  text-decoration: underline;
}
.sentence58{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 500px;
  margin-left: -465px;
  text-decoration: none;
  outline: none;
}
.sentence58:hover{
  text-decoration: underline;
}
.sentence59{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 500px;
  margin-left: -120px;
  text-decoration: none;
  outline: none;
}
.sentence59:hover{
  text-decoration: underline;
}
.sentence60{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 550px;
  margin-left: -1280px;
  text-decoration: none;
  outline: none;
}
.sentence60:hover{
  text-decoration: underline;
}
.sentence61{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 550px;
  margin-left: -920px;
  text-decoration: none;
  outline: none;
}
.sentence61:hover{
  text-decoration: underline;
}
.sentence62{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 550px;
  margin-left: -525px;
  text-decoration: none;
  outline: none;
}
.sentence62:hover{
  text-decoration: underline;
}
.sentence63{
  float: left;
  position: relative;
  font-weight: bolder;
  color: #333;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 1162px;
  text-decoration: none;
  outline: none;
}
.sentence63:hover{
  text-decoration: underline;
}
.sentence64{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 60px;
  margin-left: -1310px;
  text-decoration: none;
  outline: none;
}
.sentence64:hover{
  text-decoration: underline;
}
.sentence65{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 15px;
  margin-top: 60px;
  margin-left: -950px;
  text-decoration: none;
  outline: none;
}
.sentence65:hover{
  text-decoration: underline;
}
.sentence66{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size:15px;
  margin-top: 80px;
  margin-left: -555px;
  text-decoration: none;
  outline: none;
}
.sentence66:hover{
  text-decoration: underline;
}
.sentence67{
  float: left;
  position: relative;
  font-weight: bold;
  color: #333;
  font-size:15px;
  margin-top: 25px;
  margin-left: 1164px;
  text-decoration: none;
  outline: none;
}
.sentence67:hover{
  text-decoration: underline;
}
.sentence68{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 40px;
  margin-left: -1210px;
  text-decoration: none;
  outline: none;
}
.sentence68:hover{
  text-decoration: underline;
}
.sentence69{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top: 40px;
  margin-left: -849px;
  text-decoration: none;
  outline: none;
}
.sentence69:hover{
  text-decoration: underline;
}
.sentence70{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:75px;
  margin-left: -1210px;
  text-decoration: none;
  outline: none;
}
.sentence70:hover{
  text-decoration: underline;
}
.sentence71{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:75px;
  margin-left: -850px;
  text-decoration: none;
  outline: none;
}
.sentence71:hover{
  text-decoration: underline;
}
.sentence72{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:110px;
  margin-left: -1210px;
  text-decoration: none;
  outline: none;
}
.sentence72:hover{
  text-decoration: underline;
}
.sentence73{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:110px;
  margin-left: -850px;
  text-decoration: none;
  outline: none;
}
.sentence73:hover{
  text-decoration: underline;
}
.sentence74{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:140px;
  margin-left: -850px;
  text-decoration: none;
  outline: none;
}
.sentence74:hover{
  text-decoration: underline;
}
.sentence75{
  float: left;
  position: relative;
  font-weight: normal;
  color: #333;
  font-size: 14px;
  margin-top:170px;
  margin-left: -850px;
  text-decoration: none;
  outline: none;
}
.sentence75:hover{
  text-decoration: underline;
}
.line10{
  border-bottom: solid 0.5px silver;
  width: 110%;
  margin-top:830px;
}


.navigation-header.--solutioin {
  font-size: 15px;
}