.left-info li{
  color: #999;
  font-size: 13px;
  list-style-type: none;
  margin-left: 40px;
}
.left-info{
  background-color: #F8F8FF	;
}
.right-info  a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  border-right: 1px solid #999;
}

.right-info{
  transform: translate(800px);
  margin-top: -40px;
}

.right-info :last-child{
  color: navy;
  font-weight: bolder;
  border-right: none;
}

.sitelogo{
  margin-left: 60px;
  margin-top: 20px;
}

.enter {
  color: navy;
  font-size: 13px;
  font-weight: bolder;
}

.tel p:last-child{
color: red;
 font-size: smaller;
 font-weight: bolder;
}
.time{
  color: #999;
  font-size: smaller;
}
.tel a{
  color: navy;
  font-weight: bolder;
  text-decoration: none;
}
.tel{
  float: right;
  line-height: 0.5em;
  margin-top: -50px;
}
#pic{
  object-fit: cover;
}

.introduction{
  position: absolute;
  font-size: 20px;
  margin-top: -450px;
  margin-left: 140px;
  font-weight: bold;
  color:white;
  text-decoration:underline;
  letter-spacing: 0.2em; 
}
h1{
  position: absolute;
  font-size: 50px;
  margin-top: -400px;
  margin-left: 140px;
  font-weight: bold;
  color:white;
}
 .skill{
  position: absolute;
  font-size: 20px;
  margin-top: -300px;
  margin-left: 140px;
  font-weight: bold;
  color:white;
}

.tbl-bdr table,.tbl-bdr td,.tbl-bdr th {
  border-collapse: collapse;
  /* border-right:0px solid #999; */
  }
  .right-line {
    border-right:1px solid #999;
    }
  
  .tbl-bdr a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }